:root {
    --color-black-dark: #000;
    --color-gray-light: #f5f5f5;
    --color-primary-medium: #e91e1e;
    --color-black-medium: rgba(0, 0, 0, .6);

    --color-blue100: #6BD1FF;

    --color-green100: #9CD33B;
    --color-green200: #9CD33B;
    --color-green300: #00C86F;

    --color-orange100: #FFBA05;
    --color-orange200: #FF8C2A;

    --color-pink100: #DC6EBE;
    
    --color-purple100: #6B5BE2;

    --color-pixelart: #f91c24;
}